@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Pacifico|Sedgwick+Ave+Display');
/* margen y padding para todo la pagina */

* {
/*	outline: 1px solid red;	
*/
	margin:0;
	padding: 0;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	
}

/*=============================================
=       Section Cabezera o header          =
=============================================*/
header {
	background-image: linear-gradient (#76278f, #2B1E66);
	padding: 10px;
	position: fixed;
	width: 100%;
	height: 80px;
}
.logo {
	position: fixed;
}
a:hover{
	color:#ec008c;
}

nav ul  a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 20px;
	display: inline;
	position: relative;
	left: 800px;
	bottom: 10px;
	top: 20px;
	font-size: 20px;
}
.boton{
	  display: inline-block;
	  position: relative;
	  width: 80px;
	  height: 40px;
	  margin-left: 100px;
	  border: solid 2px white;
	  border-radius: 10px;
	  color: white;
	  font-family: 'Montserrat Alternates', sans-serif;
	  font-size: 20px;
	  background:#333447;
	  bottom: 50px;
	  top: 20px;
	  left: 700px;   
}
/*=====  End of Section comment block  ======*/
/*=============================================


=            Section video como fondo            =
=============================================*/
video { 
  width: 100%;
  height: 100%;
}
/*=====  End of Section comment block  ======*/


/*=============================================
=            Section Formulario            =
=============================================*/
.form-container {
	background-color: white;
    height: 400px;
    width: 500px;
    float: right;
    position: absolute;
    left: 765px;
}



/*=====  End of Section comment block  ======*/



/*=============================================
=     sección II, Imagen de telefono            =
=============================================*/
.phono {
	background: -webkit-linear-gradient(purple,#442174);
	width: 100%;
	height: 700px;
}
.desc {
	width: 400px;	
}
#smart {
	float: right;
/*	margin-bottom: 200px;
*/}

/*=====  End of Section comment block  ======


/*=============================================
=            Sección de Videos            =
=============================================*/
.videos {
	width: 100%;
	background-color: pink ;
}
.text1 {

	height: 250px;
	width: 350px;
	position: relative;
/*	top: 400px;
*/	margin-left: 100px;
}
.ver1 {
	float: right;

}
.text2 {
	float: right;
	margin-top: 100px;
	margin-right: 150px;
}
.ver2 {
	float: right;
}
.text3 {
	height: 400px;
	margin-top: 0px;
	margin-left: 100px;
}
/*=====  End of Section comment block  ======*/



/*=============================================
=  Sección de Pie de página o Footer        =
=============================================*/
footer {
	background: #333447;
	padding: 30px;
	position: relative;
	display: block;
}
/*.cont:hover{
	color: #ec008c;
	background-color: black;
}*/
.cont1 {
	display: inline-block;
	color: white;
	margin: 20px;
}
ul li {
	list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: left;
}
ul li #demo{
	font-size: 48px; 
}
.cont2 {
	display: inline-block;	
	color: white;
	margin: 20px;
}
.cont3 {
	display: inline-block;	
	color: white;
	margin: 20px;
}
a {
	color: white;
	text-decoration: none;
}
#apple {
	position: relative;
	bottom: 120px;
	left: 105px;
}
#play {
	position: relative;
	
	width: 120px;*/

}
#micro {
	position: relative;
	bottom: 60px;
	left: -125px;
	width: 120px;
}

span {
	position: relative;
	margin: 15px;
	border-radius: 50px;
	border: 2px solid white;
	padding: 5px;
	bottom: 10px;
}

hr {
  height: 1px;
  background-color: white;
}
.icon {
	background-color: white;
}
#iconos {
	text-align: center;
	color: white;
}
p#privacy {
	position: relative;
	top: 10px;
}

/*=====  End of Section comment block  ======*/
