@import url('https://fonts.googleapis.com/css?family=Montserrat+Alternates|Pacifico|Sedgwick+Ave+Display');
/* margen y padding para todo la pagina */

* {
/*	outline: 1px solid red;	
*/    top:0;
	left:0;
	margin:0px;
	padding: 0;
}

body {
	font-family: 'Montserrat Alternates', sans-serif;
	
}

/*=============================================
=       Section Cabezera o header          =
=============================================*/
header {
	background-image: linear-gradient (#76278f, #2B1E66);
	padding: 10px;
	position: fixed;
	width: 100%;
	height: 80px;
/*	z-index: 1000;*/
}
.logo {
	position: fixed;
}

nav ul  a {
	color: #FFFFFF;
	text-decoration: none;
	margin: 20px;
	display: inline;
	position: relative;
	left: 800px;
	bottom: 10px;
	top: 20px;
	font-size: 20px;
}
.log{
	  display: inline-block;
	  position: relative;
	  width: 80px;
	  height: 40px;
	  margin-left: 100px;
	  border: solid 2px white;
	  border-radius: 10px;
	  color: white;
	  font-family: 'Montserrat Alternates', sans-serif;
	  font-size: 20px;
	  background:#333447;
	  bottom: 50px;
	  top: 20px;
	  left: 700px;   
}
/*=====  End of Section comment block  ======*/
/*=============================================


=            Section video como fondo            =
=============================================*/
video { 
  width: 100%;
  height: auto;
  border:0;
}
/*=====  End of Section comment block  ======*/


/*=============================================
=            Section Formulario            =
=============================================*/
.form-container {
  height: 100px;
  width: 100PX;
  margin-bottom: 800px;
  margin-left: 200px;
  
}



/*=====  End of Section comment block  ======*/



/*=============================================
=     sección II, Imagen de telefono            =
=============================================*/
div.phono {
	background: -webkit-linear-gradient(purple,#442174);
	width: 100%;
	height: auto;
/*	margin-top: -5;
*/}
img #smart {
	position: relative;
	left: 800px;
	top: 200px
}
.phono1 {
	position: relative;
	bottom: 300px;
}
/*=====  End of Section comment block  ======*/


/*=============================================
=            Sección de Videos            =
=============================================*/
.video1 {
	left: 200px;
	display: inline-block;
	float: left;
}
.text1 {
	display: inline-block;
}
.video2 {
	display: inline-block;
	float: right;
}
.text2 {
	left: 200px;
	display: inline-block;
}
.video3 {
	display: inline-block;
	float: left;
}
.text3 {
	display: inline;
}
/*=====  End of Section comment block  ======*/



/*=============================================
=  Sección de Pie de página o Footer        =
=============================================*/
footer {
	background: #333447;
	padding: 30px;
	position: relative;
	display: block;
}
.cont1 {
	display: inline-block;
	position: relative;	
	right: 400px;
	color: white;
	margin: 20px;
}
ul li {
	list-style-type: none;
    margin: 0;
    padding: 10px;
    text-align: left;
}
ul li #demo{
	font-size: 48px; 
}
.cont2 {
	display: inline-block;
	position: relative;	
	right: 500px;
	color: white;
	margin: 20px;
}
.cont3 {
	display: inline-block;
	position: relative;	
	right: 600px;
	color: white;
	margin: 20px;
}
a {
	color: white;
	text-decoration: none;
}
#apple {
	display: inline-block;
	position: relative;
	left: 450px;
	margin: 8px;
}
#play {
	display: block;
	position: relative;
	left: 650px;
	bottom: 50px;
	margin: 15px;
	width: 120px;

}
#micro {
	display: block;
	position: relative;
	width: 120px;
	left: 650px;
	margin: 15px;
}

span {
	position: relative;
	margin: 15px;
	border-radius: 50px;
	border: 2px solid white;
	padding: 5px;
	
}

hr {
  height: 1px;
  background-color: white;
}
.icon {
	background-color: white;
}
#iconos {
	text-align: center;
	color: white;
}

/*=====  End of Section comment block  ======*/
